<%- include('../partials/head') %>

<form action="/routines" method="POST">
    <label for="name"> <br> Name:</label><input type="text" name="name"><br>
    <br>
    <input type="submit" value="Create Routine">
</form>

<%- include('../partials/foot') %>